@model Lykke.Service.MonitoringUI.Models.ErrorViewModel
@{
    Layout = "~/Views/Shared/_PersonalAreaDialog.cshtml";
}
<form id="frmError">
    <table style="width:100%">
        <tr>
            <td>
                WRONG URL FOR MONITORING
            </td>
        </tr>
    </table>
</form>